.container {
  max-width: 80%;
  min-width: 50%;
}

.form {
  padding: 1rem;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.button {
  width: 80px;
}

.button:first-child {
  margin-right: 15px;
}