.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 72px);
}

.container {
  max-width: 80%;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}